In [3]:
Ville = ['Paris','Londres','Berlin']

In [4]:
Ville

['Paris', 'Londres', 'Berlin']

In [5]:
Ville.append('Bruxelles')

In [6]:
Ville

['Paris', 'Londres', 'Berlin', 'Bruxelles']

In [7]:
Ville.insert(2,'Madrid')

In [8]:
Ville

['Paris', 'Londres', 'Madrid', 'Berlin', 'Bruxelles']

In [9]:
ville_2 = ['Amsterdam', 'Rome']

In [10]:
Ville.extend(ville_2)

In [11]:
Ville

['Paris', 'Londres', 'Madrid', 'Berlin', 'Bruxelles', 'Amsterdam', 'Rome']

In [12]:
len(Ville)

7

In [13]:
numbers = [1,6,9,4,2,0]

In [17]:
numbers.sort(reverse=True)

In [18]:
numbers

[9, 6, 4, 2, 1, 0]

In [20]:
 numbers.clear()

In [21]:
numbers

[]

In [22]:
numbers = [0,6,19,1467,2,7]

In [26]:
numbers.sort(reverse=True)

In [27]:
numbers

[1467, 19, 7, 6, 2, 0]

In [28]:
Ville.remove('Madrid')

In [29]:
Ville

['Paris', 'Londres', 'Berlin', 'Bruxelles', 'Amsterdam', 'Rome']

In [30]:
numbers.remove(6)

In [31]:
numbers

[1467, 19, 7, 2, 0]

In [33]:
if 1 in numbers:
    print('yes')
else:
    print('non')

non

In [34]:
for valeur,index in Ville:
    print(valeur,index)

ValueError: too many values to unpack (expected 2)

In [54]:
for villes,index in enumerate (Ville):
    print(villes,index)

0 Paris
1 Londres
2 Berlin
3 Bruxelles
4 Amsterdam
5 Rome

In [56]:
for a,b in zip(Ville,numbers):
    print(a,b)

Paris 1467
Londres 19
Berlin 7
Bruxelles 2
Amsterdam 0

In [ ]:
fibonacci(1000)

In [27]:
def fibonacci(n):
    liste_fibo = []
    a = 0
    b = 1
    while a < n:
        liste_fibo.append(a)
        a,b = b,a+b
    return liste_fibo

In [28]:
fibonacci(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [14]:
print(a)

NameError: name 'a' is not defined

In [44]:
def zipzip(liste_1, liste_2):
    return [(liste_1[i], liste_2[i]) for i in range(0,min(len(liste_1),len(liste_2)))]

In [46]:
liste_1 = [0,1,2,3,4]
liste_2 = [4,3,2,1,0]

In [47]:
zipzip(liste_1,liste_2)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [50]:
def sum_list(l1):
    somme = 0
    for element in l1:
        somme += element
    return somme

In [51]:
sum_list(liste_1)

10

In [70]:
def max_liste(l1):
    maximum = l1[0]
    for element in l1:
        print(element, maximum)
        if element > maximum:
            maximum = element
    return (maximum)

max_liste(liste1)

In [71]:
max_liste(liste_1)

0 0
1 0
2 1
3 2
4 3

4

In [78]:
def min_liste(l1):
    minimum = l1[0]
    for element in l1:
        print(element, minimum)
        if minimum > element:
            minimum = element
    return (minimum)

In [79]:
min_liste(liste_1)

0 0
1 0
2 0
3 0
4 0

0

In [86]:
#Nombres de multiples de 3 dans une liste de nombres entiers

In [101]:
def nb_multiples_3_caca (l1):
    liste_3 = []
    for element in l1: 
        if element % 3 == 0:
            liste_3.append(1) 
    return(sum_list(liste_3))

In [97]:
liste_multi3=[2,3,21,87,30,67,33]

In [100]:
nb_multiples_3_caca(liste_multi3)

NameError: name 'nb_multiples_3_caca' is not defined

In [99]:
def nb_multiples_3_super_top (l1):
    nb_mult=0
    for element in l1: 
        if element % 3 == 0:
            nb_mult+=1
    return nb_mult

In [102]:
nb_multiples_3_super_top(liste_multi3)

5